<h1>Chat with <%= @user.email.split('@')[0].capitalize %></h1>
<div id="messages">
  <%= render partial: "messages/message", collection: @messages %>
</div>

<%= form_with model: Message.new, url: messages_path, remote: true do |form| %>
  <%= form.hidden_field :receiver_id, value: @user.id %>
  <%= form.text_field :content %>
  <%= form.submit "Send" %>
<% end %>
<br>
<%= link_to "Back to Users", users_path %>

