<div class="chat-container">
  <div class="user-list">
    <h2>Chat with your Friends!</h2>

    <% if @users.any? %>
      <%= form_for(users_path, method: :get) do %>
        <div class="search-bar">
          <%= text_field_tag :search, params[:search], class: "form-control form-control-sm", placeholder: "Search users" %>
          <%= submit_tag "Search", class: "btn btn-primary btn-sm" %>
          <%= link_to 'Clear', users_path, class: 'btn btn-secondary btn-sm', id: 'clear-search', title: 'Clear Search' %>
        </div>
      <% end %>
      <div class="user-items">
        <% @users.each do |user| %>
          <%= link_to chat_user_path(user), remote: true, class: 'user-item-link', tabindex: "0" do %>
            <div class="user-item">
              <div class="user-info">
                <strong class="user-name"><%= user.email.split('@')[0].capitalize %></strong>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

  <% else %>
      <p class="no-users">No users available.</p>
    <% end %>
<div class="pagination">
    <%= will_paginate @users %>
</div>
  </div>

  <div class="chat-window">
    <div id="chat-content">
      <h3>Select a user to start a chat</h3>
    </div>
  </div>
</div>
